/* ========== Common styles ========== */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 120px 0;
}

.icon {
    display: block;
    fill: #f4f4fd;
}

input {
    display: block;
    font-family: inherit;
}

textarea {
    font-family: inherit;
}

/* ========== Header styles========== */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;

}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-item {
    position: relative;
    color: #404bbf;
}

.active-item::after {
    position: absolute;
    content: "";
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}

.address-list {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

/* ========== Hero-section styles ========== */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

/* ========== Skills-section styles ========== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skills-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.skills-list {
    display: flex;
    gap: 24px;
}

.skills-list-item {
    width: calc((100%-72px)/4);
}

.skills-icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.skills-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========== Our Team-section styles ========== */
.our-team {
    background: #f4f4fd;
}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 0;
}

.our-team-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.our-team-icon-list-item {
    width: 40px;
    height: 40px;
}

.our-team-icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon-links:hover,
.our-team-icon-links:focus {
    background-color: #404bbf;
}

.our-team-decription-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-decription {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

/* ========== Portfolio-section styles ========== */
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.box-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-overlay:hover .overlay,
.box-overlay:focus .overlay {
    transform: translateY(0);
}

.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-decription-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.portfolio-decription {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========== Footer styles ========== */
.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.footer-logo-part {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    display: block;
    width: 264px;
}

.social-media {
    margin-right: 80px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-icon-list-item {
    width: 40px;
    height: 40px;
}

.footer-icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-links:hover,
.footer-icon-links:focus {
    background-color: #31d0aa;
}

.footer-logo-content {
    margin-right: 120px;
}

/* ========== Subscribe-box styles ========== */

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.footer-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background: #404bbf;
}

.footer-subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/* ========== Backdrop styles ========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(46, 47, 66, 0.4);
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke: rgba(0, 0, 0, 0.1);
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    fill: #ffffff;
    background-color: #404bbf;
    border: none
}

.modal-close-btn-icon {
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.contacts-form-input-wrapper {
    margin-bottom: 8px;
}

.contacts-form-input-wrapper-last {
    margin-bottom: 16px;
}

.contacts-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-icon-wrapper {
    position: relative;
}

.input-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}

.contacts-form-input:focus {
    border-color: #4d5ae5;
}

.contacts-form-input:focus+.input-field-icon {
    fill: #4d5ae5;
}

.form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-privacy-checkbox-container {
    margin-bottom: 24px;
}

.privacy-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-privacy-own-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    height: 16px;
    width: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.form-privacy-checkbox:checked+.privacy-checkbox-label .form-privacy-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.form-privacy-checkbox:focus+.privacy-checkbox-label .form-privacy-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.privacy-link {
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;
}

.form-submit-btn {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-height: 56px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-btn:hover,
.form-submit-btn:focus {
    background-color: #404bbf
}